html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.home-product-card {
    transition: transform 0.3s linear;
}

    .home-product-card:hover {
        transform: scale(1.03, 1.03);
    }

.header-basket__icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    font-size: 1.7em;
}

    .header-basket__icon:hover {
        cursor: pointer;
        opacity: .75;
    }

.header-basket__quan {
    position: absolute;
    right: -8px;
    top: -3px;
    height: 22px;
    min-width: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
    background: #f2530c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.product-image {
    max-height: 400px;
    object-fit: cover;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.thumbnail:hover, .thumbnail.active {
    opacity: 1;
}

.product-category-link {
    text-decoration: none;
    color: grey;
}

.product-category-link:hover {
    text-decoration: underline;
    color: grey;
}