@model Category

<div class="d-flex flex-column align-items-center border w-50 m-auto p-2">
    <h1>Створення категорії</h1>
    <div class="w-100 p-3">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name">Назва</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву">
                <span asp-validation-for="Name" class="ms-2" style="color: red; font-size: 0.8rem;"></span>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Створити" class="btn btn-success flex-grow-1 m-3" />
                <a asp-action="Index" class="btn btn-dark flex-grow-1 m-3">Повернутися</a>
            </div>
        </form>
    </div>
</div>
